Package: multi2sim
Version: 4.1+svn20130603-1
Architecture: amd64
Maintainer: William Panlener <wpanlener@gmail.com>
Installed-Size: 17069
Depends: libc6 (>= 2.15), libc6-i386 (>= 2.7), libcairo2 (>= 1.2.4), libgcc1 (>= 1:4.1.1), libglib2.0-0 (>= 2.12.0), libgtk-3-0 (>= 3.0.0), libpango1.0-0 (>= 1.14.0), libstdc++6 (>= 4.2.1), zlib1g (>= 1:1.1.4)
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
