Source: multi2sim
Section: misc
Priority: extra
Maintainer: William Panlener <wpanlener@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libtool, automake, freeglut3-dev, libglew-dev, llvm-3.1, libgtk-3-dev, lib32gcc1, gcc-multilib, flex, bison 
Standards-Version: 3.9.4
Homepage: http://www.multi2sim.org/

Package: multi2sim
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libgtk-3, freeglut3, libglew, llvm-3.1
Description: CPU-GPU Simulator for Heterogeneous Computing
 Multi2Sim is a simulation framework for CPU-GPU heterogeneous computing written
 in C. It includes models for superscalar, multithreaded, and multicore CPUs,
 as well as GPU architectures.

Package: libm2s-cuda1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: multiarch-support 
Description: Multi2Sim CUDA runtime
 Provides a shared CUDA runtime for use with Multi2Sim. This allows
 simulation of cuda environments on Multi2Sim without needing a 
 vendor driver.

Package: libm2s-cuda1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-cuda1 (= ${binary:Version})
Description: Multi2sim CUDA runtime - development library
 Provides a shared CUDA runtime for use with Multi2Sim. This allows
 simulation of cuda environments on Multi2Sim without needing a
 vendor driver.
 .
 This package provides symlinks for libm2s-cuda1.so.1.0.0 for convenient
 linking.

Package: libm2s-glew1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libm2s-opengl1
Pre-Depends: multiarch-support
Description: Multi2Sim OpenGL Extension Wrangler
 The OpenGL Extension Wrangler, GLEW for short, is a library that
 handles initialization of OpenGL extensions in a portable and simple
 way.  Once the program initializes the library and checks the
 availability of extensions, it can safely call the entry points defined
 by the extension.

Package: libm2s-glew1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-glew1 (= ${binary:Version})
Description: Multi2sim OpenGL Extension Wrangler - development library
 The OpenGL Extension Wrangler, GLEW for short, is a library that
 handles initialization of OpenGL extensions in a portable and simple
 way.  Once the program initializes the library and checks the
 availability of extensions, it can safely call the entry points defined
 by the extension.
 .
 This package provides symlinks for libm2s-glew1.so.1.0.0 for convenient
 linking.

Package: libm2s-glu1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libm2s-opengl1
Pre-Depends: multiarch-support
Description: Multi2Sim OpenGL utility library
 GLU offers simple interfaces for building mipmaps; checking for the
 presence of extensions in the OpenGL (or other libraries which follow
 the same conventions for advertising extensions); drawing
 piecewise-linear curves, NURBS, quadrics and other primitives
 (including, but not limited to, teapots); tesselating surfaces; setting
 up projection matrices and unprojecting screen coordinates to world
 coordinates.

Package: libm2s-glu1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-glu1 (= ${binary:Version})
Description: Multi2sim OpenGL utility library - development library
 GLU offers simple interfaces for building mipmaps; checking for the
 presence of extensions in the OpenGL (or other libraries which follow
 the same conventions for advertising extensions); drawing
 piecewise-linear curves, NURBS, quadrics and other primitives
 (including, but not limited to, teapots); tesselating surfaces; setting
 up projection matrices and unprojecting screen coordinates to world
 coordinates.
 .
 This package provides symlinks for libm2s-glu1.so.1.0.0 for convenient
 linking.

Package: libm2s-glut1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libm2s-opengl1
Pre-Depends: multiarch-support
Description: Multi2Sim OpenGL Utility Toolkit
 GLUT is a window system independent toolkit for writing OpenGL programs,
 implementing a simple windowing API, which makes learning about and
 exploring OpenGL programming very easy.
 .
 GLUT is designed for constructing small to medium sized OpenGL programs,
 however it is not a full-featured toolkit, so large applications requiring
 sophisticated user interfaces are better off using native window system
 toolkits like GTK+ or Motif.

Package: libm2s-glut1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-glut1 (= ${binary:Version})
Description: Multi2sim OpenGL Utility Toolkit - development library
 GLUT is a window system independent toolkit for writing OpenGL programs,
 implementing a simple windowing API, which makes learning about and
 exploring OpenGL programming very easy.
 .
 GLUT is designed for constructing small to medium sized OpenGL programs,
 however it is not a full-featured toolkit, so large applications requiring
 sophisticated user interfaces are better off using native window system
 toolkits like GTK+ or Motif.
 .
 This package provides symlinks for libm2s-glut1.so.1.0.0 for convenient
 linking.

Package: libm2s-opencl1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Multi2Sim Open Computing Language runtime
 Open framework for writing programs that execute across heterogeneous
 platforms consisting of central processing units, graphics processing
 units, DSPs and other processors.

Package: libm2s-opencl1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-opencl1 (= ${binary:Version})
Description: Multi2sim Open Computing Language runtime - development library
 Open framework for writing programs that execute across heterogeneous
 platforms consisting of central processing units, graphics processing
 units, DSPs and other processors.
 .
 This package provides symlinks for libm2s-opencl1.so.1.0.0 for convenient
 linking.

Package: libm2s-opencl-old1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Multi2Sim Open Computing Language runtime (older version)
 Open framework for writing programs that execute across heterogeneous
 platforms consisting of central processing units, graphics processing
 units, DSPs and other processors.
 .
 This library is only intended for use with architectures expecting older
 OpenCL runtimes such as AMD's Evergreen.

Package: libm2s-opencl-old1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-opencl-old1 (= ${binary:Version})
Description: Multi2sim Open Computing Language runtime (older version) - development library
 Open framework for writing programs that execute across heterogeneous
 platforms consisting of central processing units, graphics processing
 units, DSPs and other processors.
 .
 This library is only intended for use with architectures expecting older
 OpenCL runtimes such as AMD's Evergreen. 
 .
 This package provides symlinks for libm2s-opencl-old1.so.1.0.0 for convenient
 linking.

Package: libm2s-opengl1
Section: libs
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: multiarch-support
Description: Multi2Sim Open Graphics Library runtime
 Cross-language, multi-platform API for rendering 2D and 3D computer graphics.
 This is typically used to interact with a GPU, to achieve hardware-accelerated
 rendering.

Package: libm2s-opengl1-dev
Section: libdevel
Architecture: all
Depends: ${misc:Depends}, libm2s-opengl1 (= ${binary:Version})
Description: Multi2Sim Open Graphics Library runtime - development library
 Cross-language, multi-platform API for rendering 2D and 3D computer graphics.
 This is typically used to interact with a GPU, to achieve hardware-accelerated
 rendering.
 .
 This package provides symlinks for libm2s-opengl1.so.1.0.0 for convenient
 linking.

