Source: multi2sim
Section: universe/misc
Priority: extra
Maintainer: William Panlener <wpanlener@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libtool, automake, freeglut3-dev, libglew-dev, llvm-3.1, libgtk-3-dev, lib32gcc1, gcc-multilib, flex, bison 
Standards-Version: 3.9.3
Homepage: http://www.multi2sim.org/

Package: multi2sim
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libgtk-3, freeglut3, libglew, llvm-3.1
Description: CPU-GPU Simulator for Heterogeneous Computing
 Multi2Sim is a simulation framework for CPU-GPU heterogeneous computing written
 in C. It includes models for superscalar, multithreaded, and multicore CPUs,
 as well as GPU architectures.

Package: libm2s-cuda1
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends} 
Description: Multi2Sim CUDA runtime
 Provides a shared CUDA runtime for use with Multi2Sim

Package: libm2s-cuda1-dev
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libm2s-cuda1
Description: Multi2sim CUDA runtime development files
 Provides a shared CUDA runtime for use with Multi2Sim

