#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_clean:
	dh_clean
	find . -name \Makefile.in -type f -delete
	rm -rf m4
	rm -f aclocal.m4
	rm -f config.*
	rm -f configure
	rm -f depcomp
	rm -f INSTALL
	rm -f install-sh
	rm -f ltmain.sh
	rm -f missing
	rm -f ylwrap

override_dh_auto_configure:
	libtoolize
	aclocal
	autoconf
	automake -a
	# Harden in a compat 8 friendly way
	dh_auto_configure -- --enable-debug CFLAGS="$(shell dpkg-buildflags --get CFLAGS) $(shell dpkg-buildflags --get CPPFLAGS)" LDFLAGS="$(shell dpkg-buildflags --get LDFLAGS)"

# Disregard libGL.so.1 missing symbol errors when using proprietary vendor drivers
override_dh_shlibdeps:
	dh_shlibdeps -- --ignore-missing-info

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp/
