Source: multi2sim
Section: universe/misc
Priority: extra
Maintainer: William Panlener <wpanlener@gmail.com>
Build-Depends: debhelper (>= 8.0.0), libtool, automake, freeglut3-dev, libglew-dev, llvm-3.1, libgtk-3-dev, lib32gcc1, gcc-multilib, flex, bison 
Standards-Version: 3.9.3
Homepage: http://www.multi2sim.org/

Package: multi2sim
Architecture: any
Depends: ${misc:Depends}, libgtk-3, freeglut3, libglew, llvm-3.1
Description: A CPU-GPU Simulator for Heterogeneous Computing
 Multi2Sim is a simulation framework for CPU-GPU heterogeneous computing written
 in C. It includes models for superscalar, multithreaded, and multicore CPUs,
 as well as GPU architectures.
